<div class="content">
  <div class="row">
    <div class="col">

      <div class="card" style="width: 18rem;">
        <img
          src="https://www.infobae.com/new-resizer/DbLmKO61kE-qOujIw3PLuxm_Tcg=/1440x960/filters:format(webp):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/7URXQK7QKJHOXKBUZQOUWWUFMU.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Muralla china</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img
          src="https://www.infobae.com/new-resizer/8vhuM7qpFHQL6Cnqe_dYUPi_wAY=/1440x960/filters:format(webp):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/C6LAWDE5TNDBZAEBLKJIZFWFBU.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Disney World</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img
          src="https://www.infobae.com/new-resizer/24WmjP9h5dDO6qj3wLzxTTUOGt4=/1440x960/filters:format(webp):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/WX6XGBXRARCANOIPCM7X4ZO2X4.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Cristo Redentor</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img
          src="https://www.infobae.com/new-resizer/WfM5Jptv-lb5LnK1utgV3DfXlWE=/1440x810/filters:format(webp):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/KXJB4G7IDZGLBN5MFVXANYYBRQ.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Chichen Itza</p>
        </div>
      </div>

    </div>
  </div>
</div>